h1 {
    text-align: center;
    font-family: 'Leckerli One', cursive;
    font-weight: bold;
    font-size: 100px !important;
    color: #6A5ACD !important;
}

.jumbotron {
    background-image: url('../images/crystalpaper.jpg');
    background-size: cover;
}

body {
    background-image: url('../images/crystalbackground.jpg');
    background-size: cover;
}

#instructions {
    background-color: lightpink;
    margin: 20px;
    padding: 30px;
    font-family: 'Merienda', cursive;
    font-weight: bold;
    font-size: 30px;
    border-style: outset;
    border-width: 5px;
}

#box1 {
    background-color: #008080;
    margin: 20px;
    padding: 30px;  
    font-family: 'Anton', sans-serif;
    font-weight: bold;
    border-style: solid;
    border-width: 1px;
    border-color: black;
}

#box2 {
    background-color: #7B68EE;
    margin: 20px;
    padding: 30px; 
    font-family: 'Anton', sans-serif;
    font-weight: bold;
    border-style: solid;
    border-width: 1px;
    border-color: black;
}

#box3 {
    background-color: #DA70D6;
    margin: 20px;
    padding: 30px; 
    font-family: 'Anton', sans-serif;
    font-weight: bold;
    border-style: solid;
    border-width: 1px;
    border-color: black;
}

#instructions p{
    background-color: lightpink;
    margin: 20px;
    padding: 10px;
    font-family: 'Merienda', cursive;
    font-weight: bold;
    font-size: 20px;
}

#gem1 {
    border-style: ridge;
    border-width: 5px;
    margin: 30px;
}

#gem2 {
    border-style: ridge;
    border-width: 5px;
    margin: 30px;
}

#gem3 {
    border-style: ridge;
    border-width: 5px;
    margin: 30px;
}

#gem4 {
    border-style: ridge;
    border-width: 5px;
    margin: 30px;
}